@layer layer_c, layer_b, layer_a;

@layer layer_c {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: 'Arial', sans-serif;
        background-color: rgba(255, 235, 186, 0.8);
        /* background: linear-gradient(-45deg, rgba(255, 255, 186, 0.8), rgba(255, 193, 146, 0.8)) fixed; */
        background-size: cover;
    }
}

.container {
    text-align: center;
    width: 90%;
    /* ページ幅を広げる */
}

#bluetooth-connect-button {
    margin-bottom: 40px;
    top: 10px;
    left: 10px;
    position: absolute;
}

h1 {
    font-size: 3em;
    margin-bottom: 30px;
    color: #333;
}

.results-container {
    width: 100%;
    max-width: 800px;
    /* バーをより長くするために最大幅を増やす */
    margin: 0 auto;
    top: 230px;
    margin-top: 10px;
}

.right-answer-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.left-answer-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.label {
    width: 20px;
    font-size: 1.5em;
    color: #333;
    text-align: left;
    animation: zoomAnim 1s infinite;
}

@layer layer_a {
    .bar {
        flex: 1;
        width: 100%;
        height: 180px;
        border-radius: 10px;
        /*角を丸く*/
        /* background-color: #ddd; */
        background-color: #00b1a9;
        /*グラフのグレーゾーン部分*/
        overflow: hidden;
        position: relative;
        margin-right: 10px;
        /* バーと比率の間にスペースを作る */
    }

    .bar-inner {
        /*分け分からんので一旦保留。*/
        /*恐らく、余白部分*/
        height: 100%;
        border-radius: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 1.20em;
        white-space: nowrap;
    }

    .right-answer-ratio-bar-inner {
        /*グラフの赤線*/
        background-color: #ff6363;
    }

    /* .left-answer-ratio-bar-inner {
    /*グラフの青線
    background-color: #00b1a9;
} */

    .percentage {
        font-size: 1.2em;
        color: #333;
        width: 50px;
        /* 比率の表示エリアを調整 */
        text-align: left;
    }
}

.description {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}

.bar-graph-wrap {
    overflow: hidden;
}

.zoom-in {
    height: 120%;
    border-radius: 10px;
    /*角〇*/
    display: flex;
    align-items: center;
    justify-content: center;
    animation: zoomAnim 2s ease;
}

@keyframes zoomAnim {

    /*アニメーション*/
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* アニメーション */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(-10px);
    }

    20% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-10px);
    }

    40% {
        transform: translateY(0);
    }
}

@layer layer_b {
    h2 {
        top: 25px;
        left: 465px;
        max-width: 250px;
        position: absolute;
        padding: 1.5rem 4rem;
        border: 3px solid #d8d8d8;
        border-radius: 10px;
        margin: 20px auto;
        background: #f9f9f9;
    }

    h2:before,
    h2:after {

        content: '';
        position: absolute;
        bottom: -14px;
        left: 6.7em;
        border-width: 14px 12px 0px;
        border-style: solid;
    }

    h2:before {
        border-color: #d8d8d8 transparent transparent;
    }

    h2:after {
        bottom: -10px;
        border-color: #f9f9f9 transparent transparent;
    }

    h3 {
        top: 420px;
        left: 465px;
        max-width: 340px;
        position: absolute;
        padding: 1.5rem 3rem;
        border: 3px solid #d8d8d8;
        border-radius: 100px;
        margin: 30px auto;
        background: #f9f9f9;
        font-size: 30px;
    }
}

.fademigikara {
    animation: fade-in-migihida 1s ease-in-out 2s forwards;
}

.fadehidarikara {
    animation: fade-in-hidamigi 1s ease-in-out 2s forwards;
}

/* 
@layer layer_b {
.light{  
    top: -760px;
    left: 743px;
    position: absolute;
    margin: 20px auto;
    font-size:  250px;
    opacity: 0.3;
}


.left {
    top: -760px;
    left: -515px;
    position: absolute;
    margin: 20px auto;
    font-size:  250px;
    opacity: 0.3;
}
} */

/* 緑のグラフに特定のクラスを適用して逆方向に */
.reverse {
    direction: rtl;
}

.font {
    font-size: 30px;
}

.font2 {
    font-size: 20px;
}