body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

#question-sentence {
    font-size: 3em;
    margin-bottom: 30px;
    color: #333;
}

.options-container {/*たぶん、これは行間の整理*/
    display: flex;
    justify-content: space-around;
    gap: 30px; /* 回答の間にスペースを空ける */
    margin-top: 20px;
}

.options {
    padding: 20px 40px;
    font-size: 2em;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1; /* 文字とアイコンの高さを揃える */
}

.options:hover {
    transform: scale(1.1);
}

#optionA {
    background-color: #ff6363;
    font-size: 4rem;
    margin-right: 10px;
}

#optionB {
    background-color: #00b1a9;
    font-size: 4rem;
    margin-right: 10px;
}

.description {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}